<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- My Styles -->
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../css/config.css">
    <title>El Toque Secreto - Menu</title>
</head>

<body>
    <!-- Header and Navbar -->
    <header>
        <div class="navbar navbar-expand-lg container navbar-light">
            <div class="col-md-6">
                <a href="../../index.html" class="navbar-brand logo text-dark">
                    <h2 class="display-4 fw-bold mt-4 logo text-dark">El Toque Secreto</h2>
                </a>
            </div>
            <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse"
                data-bs-target="#navegacion">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Ocultar -->
            <div id="navegacion" class="collapse navbar-collapse">
                <nav class="navbar-nav container d-flex justify-content-between align-items-center" id="navegacion">
                    <a class="text-dark text-decoration-none links" href="../../index.html">Home</a>
                    <a class="text-dark text-decoration-none links" href="./menu.html">Menu</a>
                    <a class="text-dark text-decoration-none links" href="../../index.html#about-us">About Us</a>
                    <span class="text-dark links">
                        <i class="fa-brands fa-whatsapp fs-4 fw-bold"></i>
                        (+52) 636 123 4567
                    </span>
                </nav>
            </div>
        </div>
    </header>

    <!-- Background -->
    <div class="d-flex flex-column col-12 container-xl mb-6">
        <div class="row">
            <div class="col-md-6 flex flex-column title">
                <h1 class="display-1 fw-bold">No es solo una simple comida, es experiencia</h1>
                <div class="mt-5 py-5 justify-content-between">
                    <a class=" text-white btn py-2 fs-3 bg-primary fw-bold text-uppercase" href="#">Ir al carrito</a>
                    <a class="btn text-primary py-2 fs-3 fw-bold text-uppercase" href="#" id="cupones">cupones</a>
                </div>
            </div>
            <div class="col-md-6">
                <img src="../imgs/background-menu.png" alt="Menu" class="img-fluid">
            </div>
        </div>
    </div>

    <!-- Menu -->
    <main class="bg-light">
        <div class="container-xl mt-5 col-12">
            <div class="row pb-5 mb-4 py-7">
                <div class="text-center">
                    <h2 class="text-capitalize display-2 fw-bold">Delecias populares</h2>
                    <p class="text-gray">Disfruta de las comidas más sabrosas que nuestros clientes
                        <span class="text-primary">han calificado con excelencia</span>
                    </p>
                </div>
                <div
                    class="d-flex flex-column flex-md-row flex-wrap gap-5 justify-content-center container-cards w-100 mt-5 py-5">
                    <!-- Cards foods -->
                </div>
            </div>
        </div>
    </main>


    <!-- Start Delivery -->
    <section class="container-xl">
        <div class="row col-12">
            <div class="d-flex flex-md-row flex-column">
                <div class="col-md-7 d-none d-md-block">
                    <img src="../imgs/services/delivery_people.png" alt="delivery girl" class="img-fluid">
                </div>
                <div class="col-md-5 col-12 py-7">
                    <h2 class="fw-bold display-3 text-center text-md-start">Servicio a domicilio</h2>
                    <div class="card-items d-flex flex-column flex-lg-row gap-2 mt-5 bg-light rounded shadow w-100">
                        <div class="container-icon col-md-1 col-2 m-auto mx-lg-3 mt-5">
                            <img src="../imgs/services/food.png" alt="icon food" class="img-fluid">
                        </div>
                        <div class="container-text col-md-11 col-12 text-wrap text-center text-lg-start py-4">
                            <p class="fw-bold fs-4 mt-3">Entrega en 30 minutos</p>
                            <span class="fs-5 text-muted">Si tu compra supera los 30 minutos, tu comida es
                                gratis</span>
                        </div>
                    </div>

                    <div class="card-items d-flex flex-column flex-lg-row gap-2 mt-5 bg-light rounded shadow">
                        <div class="container-icon col-md-1 col-2 m-auto mx-lg-3 mt-5">
                            <img src="../imgs/services/quality.png" alt="icon quality" class="img-fluid">
                        </div>
                        <div class="container-text col-md-11 col-12 text-wrap text-center text-lg-start py-4">
                            <p class="fw-bold fs-4 mt-3">Mejor repartidor</p>
                            <span class="fs-5 text-muted">Contamos con los mejores repartidores para que tu comida
                                llegue en perfectas condiciones</span>
                        </div>
                    </div>

                    <div class="card-items d-flex flex-column flex-lg-row gap-2 mt-5 bg-light rounded shadow py-4">
                        <div class="container-icon col-md-1 col-2 m-auto mx-lg-3 mt-5">
                            <img src="../imgs/services/free-send.png" alt="icon send" class="img-fluid">
                        </div>
                        <div class="container-text col-md-11 col-12 text-wrap text-center text-lg-start">
                            <p class="fw-bold fs-4 mt-3">Envío gratis</p>
                            <span class="fs-5 text-muted">Si tu compra supera los $500 pesos, tu envío es gratis</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div class="py-4 bg-dark">
        <div class="container mt-5">
            <div class="row text-white text-center text-md-start">
                <div class="col-md-4 mb-4">
                    <span class="fw-bold text-uppercase">Toque Secreto</span>
                    <p class="mt-2 text-muted">Es un lugar de encuentro adecuado para familias y jóvenes, ya que cuenta
                        con un
                        lugar acogedor</p>
                </div>
                <div class="col-md-2 mb-4">
                    <span class="fw-bold">Redes sociales</span>
                    <a href="#" class="fs-5 text-muted text-decoration-none text-white d-block mt-2">
                        <i class="fab fa-instagram"></i>
                        Instagram
                    </a>
                    <a href="#" class="fs-5 text-muted text-decoration-none text-white d-block mt-2">
                        <i class="fab fa-facebook"></i>
                        Facebook
                    </a>
                    <a href="#" class="fs-5 text-muted text-decoration-none text-white d-block mt-2">
                        <i class="fab fa-twitter"></i>
                        Twitter
                    </a>
                    <a href="#" class="fs-5 text-muted text-decoration-none text-white d-block mt-2">
                        <i class="fab fa-youtube"></i>
                        Youtube
                    </a>
                </div>
                <div class="col-md-2 mb-4">
                    <span class="fw-bold">Nuestros servicios</span>
                    <a href="#" class="fs-5 text-decoration-none text-muted d-block mt-2">
                        Centro de ayuda
                    </a>
                    <a href="#" class="fs-5 text-decoration-none text-muted d-block mt-2">
                        FAQ
                    </a>
                    <a href="#" class="fs-5 text-decoration-none text-muted d-block mt-2">
                        Envios!
                    </a>
                    <a href="#" class="fs-5 text-decoration-none text-muted d-block mt-2">
                        Transacciones
                    </a>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="cont-email mt-2">
                        <input type="text" class="form-control p-3" placeholder="Coloca tu email">
                        <button class="btn btn-secondary mt-2 p-2 fs-4">Contactar!</button>
                    </div>
                    <div class="cont-developer mt-3 z">
                        <a href="https://github.com/CMartinez-BB" target="_blank"
                            class="text-decoration-none fs-5 text-muted">
                            Powered by
                            <span>DeveroCode ❤️</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Js -->
    <script type="module" src="../js/menu.js"></script>
    <!-- Js Bootstrap -->
    <script src="../js/bootstrap.bundle.min.js"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/85d631ed4b.js" crossorigin="anonymous"></script>
</body>

</html>