/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

:root{
    --font-family: 'Poppins', sans-serif;
    --color-primary:#e4811f;
    --darkPrimary: #CD853F;
    --color-secondary: #f2f2f2;
}

html{
    font-size: 62.5%;
}

span{
    cursor: pointer;
}

body{
    font-family: var(--font-family);
    font-size: 1.6rem;
}

h1, h2, h3{
    font-family: var(--font-family);
    font-weight: 700;
}

a{
    font-size: 1.7rem;
}

body{
    font-family: var(--font-family);
    font-size: 1.5rem;
    box-sizing: border-box;
}

span{
    cursor:default !important;
}

main{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Assets */
.fw-semibold{
    font-weight: 600;
}

.mt-6{
    margin-top: 10rem;
}

.text-primary{
    color: var(--color-primary) !important;
}

.btn-warning{
    background-color: var(--color-primary) !important;
    border: none;
}

.btn-outline-warning{
    border: 0.1rem solid var(--color-primary) !important;
    color: var(--color-primary) !important;
    transition: all 0.5s ease;
}

.btn-outline-warning:hover{
    background-color: var(--color-primary) !important;
    color: white !important;
}

.bg-danger{
    background-color: var(--color-secondary) !important;
}

.w-md-50{
    min-width: 50% !important;
}

/* Start my styles */
/* -> Header background */
.background{
    position: relative;
    z-index: 0;
    background: url(/Assets/imgs/background.jpg) no-repeat center center;
    width: 100%;
    height: 100vh;
}
  
.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: -1;
}
/* -> Main */
.main{
    padding: 20rem;
}

/* -> Guest infromation */
.img{
    height: 50rem;
    object-fit: cover;
}

/* -> Bets foods */
.images > img{
    width: 20rem;
}

/* @media (min-width: 375px) {
    .about {
        padding: 0;
    }
}
  
@media (min-width: 768px) {
    .about {
        padding: 0 10rem;
    }
} */
  