@import url(./config.css);

.link{
    font-size: 1.7rem;
    transition: all 0.3s ease;
}

.link:hover{
    color: var(--color-primary) !important;
}

.btn-primary{
    background-color: var(--color-primary) !important;
    border: none!important;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
}